body {
    margin: 50px 60px;
    padding: 10px;
}

h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.special-h1 {
    text-align: center;
}

.icon {
    height: 100px;
}

.tab {
    border: 30px;
    padding: 40px;
    
    
}
.left-text {
    height: ;

}
.person-image {
    width: 50%;
}
.half-paragraph {
    width: 100%
}

section {display: flex;}
.link-button {
    text-decoration: none;
    margin: 5px 20px;
    background-color: orangered;
    padding: 7px 30px;
    border-radius: 10px;
   
    
}

.color-text {
    color: magenta;
}

footer {
    text-align: center;
    background-color: bl ack;
    padding: yellow;
    border: orangered 5px;
}