body {
    margin: 50px 60px;
    padding: 10px;
}
h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left-text {
    height: ;

}
.person-image {
    width: 50%;
}
.half-paragraph {
    width: 100%
}

section {display: flex;}
.link-button {
    text-decoration: none;
    margin: 5px 20px;
    background-color: yellow;
    padding: 7px 30px;
    
}

.color-text {
    color: magenta;
}

    

}